h1 {
  color: goldenrod;
}

h2 {
font-style: italic;
color: darkgoldenrod;
}

p {
  color: darkgoldenrod;
}

li {
  color:darkblue;
}

body {
  background-color: aquamarine;
  font-family: Calibri;
  text-align: center;
}